@import url("reset.css");
#ajaxloading {
    background:#FFF;
    bottom:auto;
    display:inline;
    left:auto;
    margin-left:auto;
    margin-right:auto;
    position:fixed;
    right:10px;
    top:10px;
    visibility:visible;
    z-index:1000;
    float:right;
}

#ajaxloading img {
    border:2px solid #6DDBE0;
    background:#FFFFFF;
    padding:5px;
}
.grids{

    background: none repeat scroll 0 0 #FFFFFF;
    border-collapse: collapse;
    font-size: 12px;
    margin-top: 20px;
    text-align: left;
    width: 100%;
}
.grids td{
    color: #669;
    padding: 9px 8px 0px 8px;

}
.grids th{ font-size: 14px;
           font-weight: bold;
           color: #039;
           padding: 10px 8px;
           border-bottom: 2px solid #6678b1;}
.grids tbody tr:hover td
{
    color: #009;
}
body {
    background-color: #fff;
    font-family: Lucida Grande, Verdana, Sans-serif;
    font-size: 14px;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1,h2 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 16px;
    font-weight: bold;
    margin: 24px 0 2px 0;
    padding: 5px 0 6px 0;
    margin-bottom: 20px;
}

code {
    font-family: Monaco, Verdana, Sans-serif;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#wrapper { width: 920px; text-align: left; margin-left: auto; margin-right: auto; margin-top: 10px;}
.fullscreen #logo { text-align: center; margin-top: 50px; margin-bottom: 20px;}
.forms input[type=text], .forms input[type=password] {  border: 1px solid #C8C8C8;
                                                        color: #333333;
                                                        font-size: 13px;
                                                        line-height: 13px;
                                                        margin-bottom: 20px;
                                                        padding: 8px;
                                                        width: 300px;
                                                        display: block;
}

.forms input[type=text].long {  
    width: 600px;

}

.forms input[type=text].small {  
    width: 100px;

}
.forms { margin-left: auto; margin-right: auto; text-align: center; }
.forms label { font-weight: bold; margin-bottom: 5px; display: block;}
#loginform { width: 300px; margin: auto;}
#footer { text-align: left; margin-top: 20px; border-top: 1px solid #C8C8C8; padding-top: 10px;}

.forms input[type=submit] {
    padding: 6px 10px;
    -webkit-border-radius: 2px 2px;
    border: solid 1px rgb(153, 153, 153);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
}
.ui-state-error {
    border: 1px solid;
    padding:5px;
    color: #D8000C;
    background-color: #FFBABA;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}
.normal #logo { float: left; width: 210px; }
.normal #topnav { float: right; width: 400px; display: block; text-align: right;}
.normal #topnav ul, .normal #mainnav ul {text-align: right;}
.normal #topnav ul li, .normal #mainnav ul li, .normal #secnav ul li {display: inline; padding-left: 5px;}
.normal #topnav a {font-size: 10px;}
.cleardiv{clear:both;font-size:0;height:0;margin:0;padding:0;}
.normal #mainnav { display: block; text-align: right; width: 600px; float: right; margin-top: 15px; }
.normal #mainnav a { padding-top: 5px; padding-bottom: 5px; padding-right: 10px; padding-left: 10px; background: #7ABF13; color: #FFFFFF; font-weight: bold; text-transform: uppercase; text-decoration: none; border: 1px solid; border-color: green;}
.normal #secnav { display: block; text-align: right; float: right; }
.normal #secnav a { padding-right: 10px; padding-left: 10px; font-weight: bold; text-transform: uppercase; text-decoration: none; }
.project { color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.project .project_label { float: left; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; padding-left: 10px; background: #7ABF13; color: #FFFFFF; font-weight: bold; text-transform: uppercase; text-decoration: none; border: 1px solid; border-color: green; }