@import url("reset.css");
#ajaxloading {
    background:#FFF;
    bottom:auto;
    display:inline;
    left:auto;
    margin-left:auto;
    margin-right:auto;
    position:fixed;
    right:10px;
    top:10px;
    visibility:visible;
    z-index:1000;
    float:right;
}

#ajaxloading img {
    border:2px solid #6DDBE0;
    background:#FFFFFF;
    padding:5px;
}
.grids{

    background: none repeat scroll 0 0 #FFFFFF;
    border-collapse: collapse;
    font-size: 12px;
    margin-top: 20px;
    text-align: left;
    width: 100%;
}
.grids td{
    color: #669;
    padding: 9px 8px 0px 8px;

}
.grids th{ font-size: 14px;
           font-weight: bold;
           color: #039;
           padding: 10px 8px;
           border-bottom: 2px solid #6678b1;}
.grids tbody tr:hover td
{
    color: #009;
}
body {
    background-color: #fff;
    font-family: Lucida Grande, Verdana, Sans-serif;
    font-size: 14px;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
    cursor: pointer;
}

h1,h2 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 16px;
    font-weight: bold;
    margin: 24px 0 2px 0;
    padding: 5px 0 6px 0;
    margin-bottom: 20px;
}

code {
    font-family: Monaco, Verdana, Sans-serif;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#wrapper { width: 920px; text-align: left; margin-left: auto; margin-right: auto; margin-top: 10px;}
.fullscreen #logo { text-align: center; margin-top: 50px; margin-bottom: 20px;}
.forms input[type=text], .forms input[type=password] {  border: 1px solid #C8C8C8;
                                                        color: #333333;
                                                        font-size: 13px;
                                                        line-height: 13px;
                                                        margin-bottom: 20px;
                                                        padding: 8px;
                                                        width: 300px;
                                                        display: block;
}

.forms input[type=text].long {  
    width: 600px;

}

.forms input[type=text].small {  
    width: 100px;

}
.forms { margin-left: auto; margin-right: auto; text-align: center; }
.forms label { font-weight: bold; margin-bottom: 5px; display: block;}
#loginform { width: 320px; margin: auto;}
#footer { text-align: left; margin-top: 50px; border-top: 1px solid #C8C8C8; padding-top: 10px;}
.ui-state-error, .ui-state-highlight {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
    padding:7px;
}
.normal #logo { float: left; width: 210px; }
.normal #topnav { float: right; width: 400px; display: block; text-align: right;}
.normal #topnav ul, .normal #mainnav ul {text-align: right;}
.normal #topnav ul li, .normal #mainnav ul li, .normal #secnav ul li {display: inline; padding-left: 5px;}
.normal #topnav a {font-size: 10px;}
.cleardiv{clear:both;font-size:0;height:0;margin:0;padding:0;}
.normal #mainnav { display: block; text-align: right; width: 600px; float: right; margin-top: 15px; }
.normal #mainnav a { padding-top: 5px; padding-bottom: 5px; padding-right: 10px; padding-left: 10px; background: #7ABF13; color: #FFFFFF; font-weight: bold; text-transform: uppercase; text-decoration: none; border: 1px solid; border-color: green;}
.normal #secnav { display: block; text-align: right; float: right; margin-bottom: 20px; text-align: right; }
.normal #secnav a { padding-left: 10px; font-weight: bold; text-transform: uppercase; text-decoration: none; }

.list { color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.list .name { display: block; font-weight: bold; margin-bottom: 2px;}
.list .desc { display: block; font-weight: normal; font-size: 11px;}
.list .links { display: block; font-weight: normal; font-size: 10px; margin-top: 5px;}
.list .labelblack, .list .labelpurple, .list .labelfrost, .list .labelautumn, .list .labelyellow, .list .labelleaf, .list .labeldarkblue, .list .labellime, .list .labelorange, .list .labelred, .list .labelturk, .list .labelviolet, .list .label, .list .labelpink, .list .labellightblue, .list .labelblue, .list .labelolive, .list .labelgreen, .list .labelbrown{ float: right; padding-top: 2px; padding-bottom: 2px; padding-right: 5px; padding-left: 5px; font-weight: normal; text-transform: uppercase; text-decoration: none; font-size: 10px; color: #000000 }
.list .labelpink{
 background-color: #F1A9E7;
}
.list .labellightblue{
 background-color: #99CCFF;
}
.list .labelblue{
 background-color: #3019FF;
 color: #FFF;
}
.list .labelolive{
 background-color: #CCCC66;
}
.list .labelgreen{
 background-color: #37B700;
}
.list .labelbrown{
 background-color: #C5AD98;
}
.list .labelviolet{
 background-color: #CEA6CE;
}
.list .labelturk{
 background-color: #8FCDB6;
}
.list .labelred{
 background-color: #EE998A ;
}
.list .labelorange{
 background-color: #FF9E28 ;
}
.list .labellime{
 background-color: #B6FF00 ;
}
.list .labeldarkblue{
 background-color: #21007F ;
 color: #FFF;
}
.list .labelleaf{
 background-color: #00CC00 ;
}
.list .labelyellow{
 background-color: #FFFF00 ;
}
.list .labelautumn{
 background-color: #B24700 ;
}
.list .labelfrost{
 background-color: #80C8FE ;
}
.list .labelpurple{
 background-color: #8E006B ;
 color: #FFF;
}
.list .labelblack{
 background-color: #000 ;
 color: #FFF;
}

.pagenote{ float: right;
    font-size: 10px;
}
#loginform .fp_right { display: inline;float: right; margin-top: -20px;}